/*ul#main-menu{
   
    
}
ul#main-menu li{
    
   
}
ul#main-menu li a{
background-image: linear-gradient(bottom, rgb(224,221,224) 40%, rgb(255,255,255) 55%);
background-image: -o-linear-gradient(bottom, rgb(224,221,224) 40%, rgb(255,255,255) 55%);
background-image: -moz-linear-gradient(bottom, rgb(224,221,224) 40%, rgb(255,255,255) 55%);
background-image: -webkit-linear-gradient(bottom, rgb(224,221,224) 40%, rgb(255,255,255) 55%);
background-image: -ms-linear-gradient(bottom, rgb(224,221,224) 40%, rgb(255,255,255) 55%);

background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.4, rgb(224,221,224)),
        color-stop(0.55, rgb(255,255,255))
);

color: #4898ec;
font-weight: bold;
    
}
ul#main-menu li:active a{

    background: #000;
color: #4898ec;

    
}*/

